
<h2><%= comment.comment %></h2>
<h6><%= comment.user.name if comment.user.present? %>

created this comment <%= time_ago_in_words(comment.created_at) %></h6>

<div class='commentsdelete'>
  <% if can? :destroy, @comment %>
  <button id="comments-button"><%= link_to 'delete', comment_path(comment), method: :delete, confirm: 'Are you sure you would like to delete this recipe?' %></button>
  <% end %>

  <% if can? :update, @comment %>
  <button id="comments-button"><%= link_to 'edit', edit_comment_path(comment) %></button>
  <% end %>
</div>


