<h1 id="users-table-page">Listing users</h1>

<div class="usertable">
<table>
  <tr>
    <th>User Type</th>
    <th>Name</th>
    <th>House</th>
    <!-- <th>Email</th> -->
    <!-- <th>School</th> -->
    <th>Location</th>
    <th>Dob</th>
    <th></th>
    <th></th>
    <th></th>
    <!-- <th></th>
    <th></th> -->
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.role %></td>
    <td><%= link_to user.name, user %></td>
    <td><%= user.house %></td>
    <!-- <td><%= user.email %></td> -->
    <!-- <td><%= user.school %></td> -->
    <td><%= user.location %></td>
    <td><%= user.dob %></td>
    <!-- <td><%= link_to 'Show', user %></td> -->
    <!-- <td><%= link_to 'Edit', edit_user_path(user) %></td> -->
    <td><button id="eventbutton"><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></button></td>
    <td><button id="eventbutton"><%= (link_to 'Approve', user_approve_path(user), method: :put) unless user == current_user %></button></td>
    <td><button id="eventbutton"><%= (link_to 'Decline', user_decline_path(user), method: :put) unless user == current_user %></button></td>


  </tr>
<% end %>
</table>
</div>

<br />

<%= link_to 'New User', new_user_path %>
