<p id="notice"><%= notice %></p>

<h1 id="profile-page">Profile Page</h1>

<div class="profile-page">
  <div class="userprofile">
    <p>
      <b>Image:</b>
    </p>
      <%= link_to image_tag(@user.profile_image.thumb.url), @user.profile_image.detail.url %>
    </p>
    <!--   <%= image_tag @user.profile_image.url %> -->
  </div>

  <div class="userprofile">  
    <p>
      <b>Name:</b>
    </p>
      <%= @user.name %>
  </div>

  <div class="userprofile">
    <p>
      <b>Dob:</b>
      <%= @user.dob %>
    </p>
  </div>

  <div class="userprofile">
    <p>
      <b>House:</b>
      <%= @user.house %>
    </p>
  </div>

  <div class="userprofile">
    <p>
      <b>Email:</b>
      <%= @user.email %>
    </p>
  </div>

  <div class="userprofile">
    <p>
      <b>School:</b>
      <%= @user.school %>
    </p>
  </div>

  <div class="userprofile">
    <p>
      <b>Location:</b>
      <%= @user.location %>
    </p>
  </div>

  

  <div class="userprofile">
    <p>
      <b>About Me:</b>
      <%= @user.about_me %>
    </p>
  </div>
</div>


<div class="profile-buttons">
<p>
<button><%= link_to 'Edit', edit_user_path(@user) %> </button>
<button> <%= link_to 'Back', users_path %> </button>
</p>
</div>

