<h1>Come along to one of our great events!</h1>

<%= form_tag events_path, :method => :get do %>
<p>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag "Search For Nearby Events", :name => nil %>
</p>
<% end %>

<div class="eventtable">
  <table>
    <tr>
      <th>Name</th>
      <th>Date</th>
      <th>Location</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>

    <% @events.each do |event| %>
    <tr>
      <td><%= event.name %></td>
      <td><%= event.date %></td>
      <td><%= event.location %></td>
      <td><%= link_to 'Show', event %></td>
      <td><%= link_to 'Edit', edit_event_path(event) %></td>
      <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>

    </tr>
    <% end %>
  </table>
</div>

<br />

<p>
 <input type="text" id="autocomplete">
 <button id='locate'>Event Location</button>
 <section id="map-canvas"></section>
</p>

<%= link_to 'New Event', new_event_path %>
