<p id="notice"></p>

<p>
  <b>Name:</b>
  <%= @event.name %>
</p>

<p>
  <b>Location:</b>
  <%= @event.location %>
</p>

<!-- <p>
  <b>Latitude:</b>
  <%= @event.latitude %>
</p>

<p>
  <b>Longitude:</b>
  <%= @event.longitude %>
</p> -->

<p>
  <b>Date:</b>
  <%= @event.date %>
</p>

<%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@event.latitude}%2C#{@event.longitude}" %>

<p>
  <b>People Attending:</b><br>
  <% @event.attendees.each do |attendee| %>
  <%= link_to attendee.name, attendee %> <br>
  <% end %>
</p>

<h3>Nearby Events</h3>
<ul>
  <% for event in @event.nearbys(20) %>
  <li><%= link_to event.location, event %> (<%= event.distance.to_f.round(2) %> miles away) </li>
  <% end %>
</ul>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path%>
<%= button_to 'Attend', attendances_path(event_id: @event.id), method: :post %>


