<p id="notice"></p>

<h1 id="eventname">Event - <%= @event.name %>
  <%= button_to 'Attend', attendances_path(event_id: @event.id), method: :post %>
</h1>



<div class="showevent">
  <p>
    <b>Event Name</b>
  </p>
  <br>
  <%= @event.name %>
</div>
<div class="showevent">
  <p>
    <b>Date</b>
  </p>
  <br>
  <%= @event.date %>
</div>

<div class="showevent">
  <p>
    <b>Location</b>
  </p>
  <br>
  <%= @event.location %>
</div>

<div class="showevent">
  <p>
    <b>About Event</b>
  </p>
  <br>
  <%= @event.about_event %>
</div>


<div class="map">
  <p>
    <b>Event Map</b>
  </p>
  <br>
  <%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@event.latitude}%2C#{@event.longitude}" %>
  
</div>

<div class="people-attending">
  <p>
    <b>People Attending</b>
  </p>
  <br>
  <% @event.attendees.each do |attendee| %>
  <button id="attendee"><%= link_to attendee.name, attendee %></button><br>
  <% end %>

</div>

<div class="nearby-events">
  <p>
    <b>Other Nearby Events</b>
  </p>
  <br>
  <ul>
    <% for event in @event.nearbys(20) %>
    <p><button id="nearby-events"><%= link_to event.location, event %></button> - (<%= event.distance.to_f.round(2) %> miles away) </p><br>
    <% end %>
  </ul>
</div>

<br>
<% if can? :update, @event %>
<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path%> 
<% end %>
<br><br>
</div>

<p>
  <strong>Comments :</strong><br>
  <% @event.comments.each do |comment| %>
  <%= render comment %><br>
  <% end %>
</p>

<% if can? :create, Comment %>
<%= form_for Comment.new do |f| %>
<%= hidden_field_tag :event_id, @event.id %>
<p> <%= f.label :comment, 'Add your comments below' %> : </p>


<%= f.text_area :comment %>
<br>
<%= f.submit %>
<% end %>
<% end %>
</div>



