<p id="notice"></p>

<p>
  <b>Name:</b>
  <%= @event.name %>
</p>

<p>
  <b>Location:</b>
  <%= @event.location %>
</p>

<p>
  <b>Date:</b>
  <%= @event.date %>
</p>

<p>
  <b>People Attending:</b><br>
  <% @event.attendees.each do |attendee| %>
    <%= attendee.name %> <br>
   <% end %>
 </p>

<p>
 <input type="text" id="autocomplete">
 <button id='locate'>Locate Me!</button>
 <section id="map-canvas"></section>
</p>


 <%= link_to 'Edit', edit_event_path(@event) %> |
 <%= link_to 'Back', events_path %>
 <%= button_to 'Attend', attendances_path(event_id: @event.id), method: :post %>


 