<p id="notice"></p>

<div class="etable">
<p>
  <b>Name:</b>
  <%= @event.name %>
</p>

<p>
  <b>Location:</b>
  <%= @event.location %>
</p>

<p>
  <b>About Event</b>
  <br>
  <%= @event.about_event %>
</p>

<!-- <p>
  <b>Latitude:</b>
  <%= @event.latitude %>
</p>

<p>
  <b>Longitude:</b>
  <%= @event.longitude %>
</p> -->

<p>
  <b>Date:</b>
  <%= @event.date %>
</p>

<%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@event.latitude}%2C#{@event.longitude}" %>



<p>
  <b>People Attending:</b><br>
  <% @event.attendees.each do |attendee| %>
  <%= link_to attendee.name, attendee %> <br>
  <% end %>
</p>

<h3>Nearby Events</h3>
<ul>
  <% for event in @event.nearbys(20) %>
  <li><%= link_to event.location, event %> (<%= event.distance.to_f.round(2) %> miles away) </li>
  <% end %>
</ul>

<br>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path%> 
<br><br>
<%= button_to 'Attend', attendances_path(event_id: @event.id), method: :post %>

</div>

  <p>
    <strong>Comments :</strong><br>
    <% @event.comments.each do |comment| %>
    <%= render comment %><br>
    <% end %>
  </p>

  <% if can? :create, Comment %>
  <%= form_for Comment.new do |f| %>
  <%= hidden_field_tag :event_id, @event.id %>
  <p> <%= f.label :comment, 'Add your comments below' %> : </p>
  
  <%= f.text_area :comment %>
  <%= f.submit %>
  <% end %>
<% end %>
</div>



