<!DOCTYPE html>
<html>
<head>
  <title>CareConnect</title>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places"></script>
  

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

</head>
<body>


  <nav>

    <div class= "nav">
      <% if current_user %>
      <li><%= link_to "Home", root_path %></li>
      <li><% if current_user %>
        <%= link_to "Profile", user_path(current_user) %></li>
        <% end %>
        <li><%= link_to "Users", users_path %></li>
        <li><%= link_to "Messages", messages_path %></li>
        <li>Search</li>
        <li><%= link_to "Events", events_path %></li>
        <% else %>
        <li class="homelogo">Care Connect</li>
        <% end %>

        <div class='login'>
          <% if current_user %>
          <b><%= current_user.email %><b>
          <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
          <% else %>
          <%= link_to "Sign Up", new_user_registration_path %> or 
          <%= link_to "Sign In", new_user_session_path %>
          <% end %>
        </div>
      </nav>
    </div>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <div class="body">
      <%= yield %>
    </div>




  </body>
    <footer>&copy; careconnect</footer>
  </html>
