<!DOCTYPE html>
<html>
<head>
  <title>CareConnect</title>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places"></script>
  <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><%= link_to "Care Connect", root_path %></li>
        <% if current_user %>
          <li><%= link_to "Events", events_path %></li>
          <li><%= link_to "Profile", user_path(current_user) %></li>
          <% if can? :read, @user %>
            <li><%= link_to "Users", users_path %></li>
          <% end %>
          <li><%= link_to "Activities", activities_path %></li>
          <li>Hello <%= current_user.email %></li>
          <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "Sign Up", new_user_registration_path %></li> 
          <li><%= link_to "Sign In", new_user_session_path %></li>
        <% end %>
      </ul>
    </nav>
  </header>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <div class="body">
    <%= yield %>
  </div>


</body>
<footer>&copy; careconnect</footer>
</html>
